/* Mobile & tablet */
@media (max-width: 1023px) {
    :root {
        --header-with-search-height: 60px;
        --header-soft-bar-height: 46px;
        --header-height: var(--header-with-search-height);
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        z-index: 10;
    }
    .header__soft-bar {
        display: flex;
    }
    .header-with-search__cart:hover .cart-details {
        display: none;
    }

    .cart-details {
        position: fixed;
        top: var(--header-with-search-height);
        width: auto;
        padding: 0 calc((100% - 644px) / 2);
        left: 0;
        right: 0;
    }
    .cart-details::before {
        display: none;
    }

    .container {
        margin-top: calc(
            var(--header-with-search-height) + var(--header-soft-bar-height)
        );
        background-color: #f5f5f5;
        padding-top: 0;
    }
    .container__category {
        display: none;
    }
    .container__product {
        padding: 0 10px;
    }
    .container__mobile-category {
        display: block;
    }

    .search__bar__history {
        position: fixed;
        width: 100%;
        top: var(--header-with-search-height);
        left: 0;
    }

    #header-with-search__mobile-cart-checkbox:checked
        ~ .header-with-search__cart
        > .cart-details {
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .header-with-search__cart {
        margin-right: 13px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-with-search-height: 60px;
        --header-soft-bar-height: 46px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
        padding: 0 32px;
    }
    .header-with-search__mobile-search {
        display: block;
    }
    .header-with-search__mobile-search-checkbox:checked
        ~ .header-with-search__bar {
        display: flex;
    }
    .header-with-search__bar {
        position: fixed;
        margin: 0;
        left: 0;
        top: var(--header-with-search-height);
        height: 46px;
        z-index: 1;
        padding-right: 10px;
        display: none;
        animation: topDownFadeIn linear 0.15s;
        transform-origin: top;
    }

    .search__bar__history {
        top: calc(var(--header-with-search-height) + 46px);
    }

    .pagination__item__link {
        margin: 0;
    }

    .footer__upper {
        padding: 30px 16px 42px;
    }

    .header-with-search__logo {
        min-width: 130px;
    }
}
